body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1018px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:446px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1037 {
  position:absolute;
  left:720px;
  top:53px;
  width:298px;
  height:446px;
}
#u1038 {
  position:absolute;
  left:10px;
  top:10px;
  width:278px;
  word-wrap:break-word;
}
